<style>
form label{
display: inline-block;
width: 150px;
font-weight: bold;
}

</style>


<h3>Please fill the form to register!</h3> <br />

<form method="post" action="Result">
    <label for="FirstName">First Name:</label> <input type="text" name="FirstName" /> <p></p>
    <label for="LastName">Last Name:</label> <input type="text" name="LastName" /> <p></p>
    <label for="Email">Email:</label> <input type="text" name="Email" /> <p></p>
    <label for="PhoneNumber">Phone Number:</label> <input type="text" name="PhoneNumber" /> <p></p>
    <label for="Pasword">Password:</label> <input type="password" name="Password" /> <p></p>
    <p></p>

    Would you like to receive coupons by: <br />
    <input type="radio" name="Coupons" /> Email
    <input type="radio" name="Coupons" /> Text
    <input type="radio" name="Coupons" /> Both
    <input type="radio" name="Coupons" /> None
    <p></p>

    Select the type of coupons you are interested in: br/>
    <input type="checkbox" name="Coffee" /> Coffee
    <br />
    <input type="checkbox" name="Tea" /> Tea
    <br />
    <input type="checkbox" name="MealCombos" /> Meal Combos
    <br />
    <input type="checkbox" name="BakedGoods" /> Baked Goods
    <p></p>

    <input type="submit" />
</form>